<div class="container text-center">
  <div class="border p-4">
    <h3>ようこそ、ながのCAKEへ！</h3>
    <p>このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。</p>
  </div>
  
  <!-- 新着商品一覧 -->
   <div class="text-left">
    <h2>新着商品</h2>
  </div>
  <div class="row">
    <% @new_items.each do |item| %>
    <div class="col-md-3 mb-4">
      <div class="card">
        <%= image_tag item.get_image, size: "200x200" %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to item.name, public_item_path(item) %></h5>
          <p class="card-text">¥<%= (item.price * 1.1).to_i %>（税込み）</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  
  <div class="text-right"> <!-- 右寄せ用の要素 -->
    <%= link_to "全商品を見る", public_items_path, class: "btn btn-primary" %>
  </div>
</div>

