<div class="text-center border p-4">
  <h3>ようこそ、ながのCAKEへ！</h3>
  <p>このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。</p>
</div>
<!-- 新着商品一覧 -->
<h2>新着商品</h2>
<div class="row">
  <% @new_items.each do |item| %>
    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text">¥<%= (item.price * 1.1).to_i %>（税込み）</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "全商品を見る", public_items_path, class: "btn btn-primary" %>

