<div class="container">
  <h1>管理者トップページ</h1>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>注文日時</th>
          <th>購入者</th>
          <th>注文個数</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.created_at, admin_order_path(order) %></td>
            <td><%= order.customer.full_name %></td>
            <td><%= order.order_details.sum(:quantity) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @orders %>
</div>
