<div class="container">
  <h2>商品一覧(全×件)</h2>
  <div class="row text-center ">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <div class="card mb-4">
          <% if item.image.attached? %>
            <%= image_tag item.image, class: "card-img-top", style: "max-width: 60%;" %>
          <% else %>
            <p class="card-text">画像がありません</p>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to item.name, public_item_path(item) %></h5>
            <p class="card-text">価格: <%= item.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= paginate @items %>